<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnM0Hvf3NAtipGASHHcaEQ-DzWx7kDRKI</string>
	<key>GCM_SENDER_ID</key>
	<string>128153955399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stemz</string>
	<key>PROJECT_ID</key>
	<string>stemz-453d5</string>
	<key>STORAGE_BUCKET</key>
	<string>stemz-453d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128153955399:ios:906d6cf7b7bb371ff45562</string>
</dict>
</plist>